<!DOCTYPE html>
<html>
<head>
	<title>CelebGuesser - Celebrity Guessing Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
	<div class="container mt-5">
		<div class="row">
            <div class="col-md-4 md-4 order-0">
				<img src="{{ game_data['celebrity_image_url'] }}" alt="{{ game_data['celebrity_image_url'] }}" class="img-fluid">
				{% if game_data['celebrity_gender'] %}
                <h2>Gender:</h2>
				<p class="mt-3">{{ game_data['celebrity_gender'] }}</p>
				{% endif %}
                {% if game_data['celebrity_occupation'] %}
                <h2>Occupation:</h2>
                <p class="mt-3">{{ ', '.join(game_data['celebrity_occupation']) }}</p>
				{% endif %}
			</div>

            <div class="col-md-8">
                <h1 class="mb-4">
                    {% for box in game_data['boxes'] %}
                        <span class="box">{{ box }}</span>
                    {% endfor %}
                    </h1>
				{% if game_data['game_over'] %}
				{% if game_data['lives'] == 0 %}
				<p>Sorry, you have lost the game.</p>
				{% else %}
				<p>Congratulations, you have won the game!</p>
				{% endif %}
				<p>The celebrity's name is {{ game_data['celebrity_name'] }}.</p>
				<button type="button" class="btn btn-secondary" onclick="newGame(event)">New Game</button>
				{% else %}
				<form id="guess-form" method="POST" action="{{ url_for('guess') }}">
					<div class="form-group">
						<label for="guess">Guess a letter:</label>
						<input type="text" class="form-control" id="guess" name="guess" maxlength="1" required autocomplete="off">
					</div>
					<button type="submit" class="btn btn-primary" id="submit-btn">Submit</button>
					<p class="mt-3">Lives: {{ game_data['lives'] }}</p>
					<!--<p class="mt-3">Incorrect letters: {{ game_data['incorrect_letters'] }}</p>-->
				</form>
				{% endif %}

                <div class="keyboard">
                    <div class="keyboard_row">
                        <div class="key {% if 'Q' in game_data['correct_letters'] %}correct{% elif 'Q' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="Q">Q</div>
                        <div class="key {% if 'W' in game_data['correct_letters'] %}correct{% elif 'W' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="W">W</div>
                        <div class="key {% if 'E' in game_data['correct_letters'] %}correct{% elif 'E' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="E">E</div>
                        <div class="key {% if 'R' in game_data['correct_letters'] %}correct{% elif 'R' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="R">R</div>
                        <div class="key {% if 'T' in game_data['correct_letters'] %}correct{% elif 'T' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="T">T</div>
                        <div class="key {% if 'Y' in game_data['correct_letters'] %}correct{% elif 'Y' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="Y">Y</div>
                        <div class="key {% if 'U' in game_data['correct_letters'] %}correct{% elif 'U' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="U">U</div>
                        <div class="key {% if 'I' in game_data['correct_letters'] %}correct{% elif 'I' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="I">I</div>
                        <div class="key {% if 'O' in game_data['correct_letters'] %}correct{% elif 'O' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="O">O</div>
                        <div class="key {% if 'P' in game_data['correct_letters'] %}correct{% elif 'P' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="P">P</div>
                    </div>
                    <div class="keyboard_row">
                        <div class="key {% if 'A' in game_data['correct_letters'] %}correct{% elif 'A' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="A">A</div>
                        <div class="key {% if 'S' in game_data['correct_letters'] %}correct{% elif 'S' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="S">S</div>
                        <div class="key {% if 'D' in game_data['correct_letters'] %}correct{% elif 'D' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="D">D</div>
                        <div class="key {% if 'F' in game_data['correct_letters'] %}correct{% elif 'F' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="F">F</div>
                        <div class="key {% if 'G' in game_data['correct_letters'] %}correct{% elif 'G' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="G">G</div>
                        <div class="key {% if 'H' in game_data['correct_letters'] %}correct{% elif 'H' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="H">H</div>
                        <div class="key {% if 'J' in game_data['correct_letters'] %}correct{% elif 'J' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="J">J</div>
                        <div class="key {% if 'K' in game_data['correct_letters'] %}correct{% elif 'K' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="K">K</div>
                        <div class="key {% if 'L' in game_data['correct_letters'] %}correct{% elif 'L' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="L">L</div>
                    </div>
                    <div class="keyboard_row">
                        <div class="key {% if 'Z' in game_data['correct_letters'] %}correct{% elif 'Z' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="Z">Z</div>
                        <div class="key {% if 'X' in game_data['correct_letters'] %}correct{% elif 'X' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="X">X</div>
                        <div class="key {% if 'C' in game_data['correct_letters'] %}correct{% elif 'C' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="C">C</div>
                        <div class="key {% if 'V' in game_data['correct_letters'] %}correct{% elif 'V' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="V">V</div>
                        <div class="key {% if 'B' in game_data['correct_letters'] %}correct{% elif 'B' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="B">B</div>
                        <div class="key {% if 'N' in game_data['correct_letters'] %}correct{% elif 'N' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="N">N</div>
                        <div class="key {% if 'M' in game_data['correct_letters'] %}correct{% elif 'M' in game_data['incorrect_letters'] %}disabled{% endif %}" data-letter="M">M</div>
                    </div>
                </div>                
			</div>
		</div>
	</div>
</body>
</html>
